{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body text-center p-5">                    
                    <p class="lead text-muted mb-4">Your password has been set.</p>
                </div>
                <div class="text-center">
                    <p class="text-muted">
                        <a href="{% url 'login-form' %}" style="color: #65139c; text-decoration: none; font-weight: 600;">Sing In here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}