{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
    <div class="post-item">
      <!-- Post Image -->
      <img class="post-img" src="{{ post.author.image.url }}" alt="{{ post.author.username }}">

      <!-- Post Details -->
      <div class="post-details">
        <h3 class="post-title">{{ post.title }}</h3>
        
        <div class="post-meta">
          <small>Posted by {{ post.author.username }} on {{ post.date_posted|date:"F d, Y" }}</small>
        </div>

        <div class="post-content">
          <p>{{ post.content|truncatewords:15 }}</p>
        </div>

        <!-- Read More Button -->
        <a href="{% url 'post-detail' post.id %}" class="read-more-btn">Read more</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}