{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <h2 class="text-center mb-4" style="color: #4e1779; font-weight: 700;">Delete Post</h2>
    <h4 class="text-center p-3" style="color: rgb(161, 20, 46); font-weight: 700; background-color: rgba(255, 230, 230, 0.5); border-radius: 8px;">
        Are you sure you want to delete the post <span style="color: #6d097d;">"{{ post.title }}"</span>?
    </h4>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form method="POST" class="p-3">
                {% csrf_token %}
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-outline-danger" type="submit">
                        Yes, Delete
                    </button>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-lg" 
                        style="background: linear-gradient(135deg, #3b0066, #4e1779); color: white; border-radius: 8px; font-weight: 600;">
                        Cancel
                    </a>
                </div>
        </div>
    </div>
</div>
{% endblock content %}